@import "../variables";

.game{
    display: flex;
    padding: 40px;
    text-align: center;
    flex-direction: column;
    align-items: center;

    .figure{
        padding: 10px;
        border: 1px solid #000000;
        border-radius: 10px;
    }

    .houses{
        display: flex;
        padding-bottom: 100px;

        .house{
            border: $basic_border;
            padding: 20px;

            &.red-house{
                background-color: $player_red;
            }
            &.blue-house{
                background-color: $player_blue;
            }
            &.green-house{
                background-color: $player_green;
            }
            &.yellow-house{
                background-color: $player_yellow;
            }
        }
    }

    .board{
        position: relative;
        border: $basic_border;

        .field{
            padding: 60px;
        }

        .field-block{
            display: flex;

            .red-field{
                background-color: $player_red;
            }
            .blue-field{
                background-color: $player_blue;
            }
            .green-field{
                background-color: $player_green;
            }
            .yellow-field{
                background-color: $player_yellow;
            }

            &.upper-row-field-block{
                .field{
                    border-bottom: $basic_border;

                    &:not(:last-child){
                        border-right: $basic_border;
                    }
                }
            }
            &.lower-row-field-block{
                .field{
                    border-top: $basic_border;

                    &:not(:first-child){
                        border-left: $basic_border;
                    }
                }
            }
            &.right-column-field-block{
                flex-direction: column;
                align-items: flex-end;

                .field{
                    border-left: $basic_border;

                    &:not(:last-child){
                        border-bottom: $basic_border;
                    }
                }
            }
            &.left-column-field-block{
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                top: 122px;
                
                .field{
                    border-right: $basic_border;

                    &:not(:last-child){
                        border-bottom: $basic_border;
                    }
                }
            }
        }
        
        .cubes{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: grid;
            grid-gap: 40px;

            .number{
                font-size: 48px;
                font-weight: 700;
            }

            .roll-button-container{
                .roll-button{
                    padding: 10px 40px;
                    border: $basic_border;

                    &:hover{
                        background-color: #c1c1c1;
                    }
                }
            }
        }
    }
}