<!DOCTYPE html>
    <html>
        <head>
            <title>Gameszkó</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="general.css">
            <link rel="stylesheet" type="text/css" href="home/index.css">
        </head>
        <body>
            <div class="container">
                <div class="game">
                    <div class="houses">
                        <div class="house red-house">
                            <div class="figure red-figure"></div>
                            <div class="figure red-figure"></div>
                            <div class="figure red-figure"></div>
                            <div class="figure red-figure"></div>
                        </div>
                        <div class="house blue-house">
                            <div class="figure blue-figure"></div>
                            <div class="figure blue-figure"></div>
                            <div class="figure blue-figure"></div>
                            <div class="figure blue-figure"></div>
                        </div>
                        <div class="house green-house">
                            <div class="figure green-figure"></div>
                            <div class="figure green-figure"></div>
                            <div class="figure green-figure"></div>
                            <div class="figure green-figure"></div>
                        </div>
                        <div class="house yellow-house">
                            <div class="figure yellow-figure"></div>
                            <div class="figure yellow-figure"></div>
                            <div class="figure yellow-figure"></div>
                            <div class="figure yellow-figure"></div>
                        </div>
                    </div>
                    <div class="board">
                        <div class="field-block upper-row-field-block">
                            <div id="field-1" class="field red-field"></div>
                            <div id="field-2" class="field"></div>
                            <div id="field-3" class="field"></div>
                            <div id="field-4" class="field"></div>
                            <div id="field-5" class="field blue-field"></div>
                        </div>
                        <div class="field-block right-column-field-block">
                            <div id="field-6" class="field"></div>
                            <div id="field-7" class="field"></div>
                            <div id="field-8" class="field"></div>
                        </div>
                        <div class="field-block lower-row-field-block">
                            <div id="field-13" class="field yellow-field"></div>
                            <div id="field-12" class="field"></div>
                            <div id="field-11" class="field"></div>
                            <div id="field-10" class="field"></div>
                            <div id="field-9" class="field green-field"></div>
                        </div>
                        <div class="field-block left-column-field-block">
                            <div id="field-16" class="field"></div>
                            <div id="field-15" class="field"></div>
                            <div id="field-14" class="field"></div>
                        </div>
                        <div class="cubes">
                            <div class="number">0</div>
                            <div class="roll-button-container">
                                <a id="roll_button" class="roll-button">Dobás</div>
                            </div>
                        </div>
                    </div>
                </div>
            </container>
        </body>
    </html>