.game{
    display: flex;
    padding: 40px;
    text-align: center;
    flex-direction: column;
    align-items: center;

    .houses{
        display: flex;

        .house{
            border: 2px solid #000000;
            padding: 20px;
        }
    }

    .figure{
        padding: 10px;
        border: 1px solid #000000;
        border-radius: 10px;
    }
}