<!DOCTYPE html>
    <html>
        <head>
            <title>Gameszkó</title>
            <link rel="stylesheet" type="text/css" href="home/index.css">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        </head>
        <body>

            <div class="container">
                <div class="game">
                    <div class="houses">
                        <div class="house red-house">
                            <div class="figure red-figure"></div>
                            <div class="figure red-figure"></div>
                            <div class="figure red-figure"></div>
                            <div class="figure red-figure"></div>
                        </div>
                        <div class="house blue-house">
                            <div class="figure blue-figure"></div>
                            <div class="figure blue-figure"></div>
                            <div class="figure blue-figure"></div>
                            <div class="figure blue-figure"></div>
                        </div>
                        <div class="house green-house">
                            <div class="figure green-figure"></div>
                            <div class="figure green-figure"></div>
                            <div class="figure green-figure"></div>
                            <div class="figure green-figure"></div>
                        </div>
                        <div class="house yellow-house">
                            <div class="figure yellow-figure"></div>
                            <div class="figure yellow-figure"></div>
                            <div class="figure yellow-figure"></div>
                            <div class="figure yellow-figure"></div>
                        </div>
                    </div>
                </div>
            </container>
            

        </body>
    </html>