@import "../variables";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        background-color: $main-background;
        width: 100vw;
        height: 100vh;
        margin: 0;
        .container{
            width: 300px;
            background-color: $main-backgorund-medium;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 25px;
            border-radius: 10px;
    
            .form-container{
                .login-form{
                display: flex;
                flex-direction: column;
                color: white;
                }
            }
            .login-title{
                color: white;
                padding: 10px;
            }
            .login-format{
                display: flex;
                flex-direction: column;
                padding: 5px;
                #username{
                    border-radius: 5px;
                }
                #password{
                    border-radius: 5px;
                }
            }
            #remember{
                padding: 5px;
                text-align: left;
            }
            .remember-format{
                text-align: left;
                padding: 5px;
            }
            .button{
                color: white;
                background-color: $main-text-color;
                border: none;
                border-radius: 5px;
                padding: 5px 20px;
            }
    
            .login-footer{
                color: white;
                .link{
                    margin: 5px;
                    color: $main-text-color;
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body{
        background-color: $main-background;
        width: 100vw;
        height: 100vh;
        margin: 0;
        .container{
            width: 500px;
            background-color: $main-backgorund-medium;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 25px;
            border-radius: 10px;
    
            .form-container{
                .login-form{
                display: flex;
                flex-direction: column;
                color: white;
                }
            }
            .login-title{
                color: white;
                padding: 10px;
            }
            .login-format{
                display: flex;
                flex-direction: column;
                padding: 5px;
                #username{
                    border-radius: 5px;
                }
                #password{
                    border-radius: 5px;
                }
            }
            #remember{
                padding: 5px;
                text-align: left;
            }
            .remember-format{
                text-align: left;
                padding: 5px;
            }
            .button{
                color: white;
                background-color: $main-text-color;
                border: none;
                border-radius: 5px;
                padding: 5px 20px;
            }
    
            .login-footer{
                color: white;
                .link{
                    margin: 5px;
                    color: $main-text-color;
                }
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body{
        background-color: $main-background;
        width: 100vw;
        height: 100vh;
        margin: 0;
        .container{
            width: 500px;
            background-color: $main-backgorund-medium;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 25px;
            border-radius: 10px;
    
            .form-container{
                .login-form{
                display: flex;
                flex-direction: column;
                color: white;
                }
            }
            .login-title{
                color: white;
                padding: 10px;
            }
            .login-format{
                display: flex;
                flex-direction: column;
                padding: 5px;
                #username{
                    border-radius: 5px;
                }
                #password{
                    border-radius: 5px;
                }
            }

            #remember{
                padding: 5px;
                text-align: left;
            }
            .remember-format{
                text-align: left;
                padding: 5px;
            }
            .button{
                color: white;
                background-color: $main-text-color;
                border: none;
                border-radius: 5px;
                padding: 5px 20px;
            }
    
            .login-footer{
                color: white;
                .link{
                    margin: 5px;
                    color: $main-text-color;
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body{
        background-color: $main-background;
        width: 100vw;
        height: 100vh;
        margin: 0;
        .container{
            width: 500px;
            background-color: $main-backgorund-medium;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 25px;
            border-radius: 10px;
    
            .form-container{
                .login-form{
                display: flex;
                flex-direction: column;
                color: white;
                }
            }
            .login-title{
                color: white;
                padding: 10px;
            }
            .login-format{
                display: flex;
                flex-direction: column;
                padding: 5px;
                #username{
                    border-radius: 5px;
                }
                #password{
                    border-radius: 5px;
                }
            }
            #remember{
                padding: 5px;
                text-align: left;
            }
            .remember-format{
                text-align: left;
                padding: 5px;
            }
            .button{
                color: white;
                background-color: $main-text-color;
                border: none;
                border-radius: 5px;
                padding: 5px 20px;
            }
    
            .login-footer{
                color: white;
                .link{
                    margin: 5px;
                    color: $main-text-color;
                }
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body{
        background-color: $main-background;
        width: 100vw;
        height: 100vh;
        margin: 0;
        .container{
            width: 500px;
            background-color: $main-backgorund-medium;
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 25px;
            border-radius: 10px;
    
            .form-container{
                .login-form{
                display: flex;
                flex-direction: column;
                color: white;
                }
            }
            .login-title{
                color: white;
                padding: 10px;
            }
            .login-format{
                display: flex;
                flex-direction: column;
                padding: 5px;
                #username{
                    border-radius: 5px;
                }
                #password{
                    border-radius: 5px;
                }
            }
            #remember{
                padding: 5px;
                text-align: left;
            }
            .remember-format{
                text-align: left;
                padding: 5px;
            }
            .button{
                color: white;
                background-color: $main-text-color;
                border: none;
                border-radius: 5px;
                padding: 5px 20px;
            }
    
            .login-footer{
                color: white;
                .link{
                    margin: 5px;
                    color: $main-text-color;
                }
            }
        }
    }
}
