.game {
  display: flex;
  padding: 40px;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.game .figure {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  pointer-events: none;
  cursor: default;
}
.game .figure.red-figure {
  background-color: #d80000;
}
.game .figure.blue-figure {
  background-color: #201cff;
}
.game .figure.green-figure {
  background-color: #19d400;
}
.game .figure.yellow-figure {
  background-color: #fff831;
}
.game .figure[selectable=true] {
  pointer-events: all;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 2px #ffffff;
  border: 2px solid #000000;
}
.game .houses {
  display: flex;
  padding-bottom: 100px;
}
.game .houses .house {
  border: 2px solid #000000;
  width: 150px;
  height: 80px;
  display: flex;
  align-items: center;
  grid-gap: 5px;
  justify-content: center;
}
.game .houses .house.red-house {
  background-color: #d80000;
}
.game .houses .house.blue-house {
  background-color: #201cff;
}
.game .houses .house.green-house {
  background-color: #19d400;
}
.game .houses .house.yellow-house {
  background-color: #fff831;
}
.game .houses .house[active=true] {
  box-shadow: inset 0px 0px 0px 2px #ffffff;
}
.game .board {
  position: relative;
  border: 1px solid #000000;
}
.game .board .field {
  width: 60px;
  height: 60px;
  display: flex;
  grid-gap: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
}
.game .board .field-block {
  display: flex;
}
.game .board .field-block .red-field {
  background-color: #d80000;
}
.game .board .field-block .blue-field {
  background-color: #201cff;
}
.game .board .field-block .green-field {
  background-color: #19d400;
}
.game .board .field-block .yellow-field {
  background-color: #fff831;
}
.game .board .field-block.upper-row-field-block .field:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #000000;
}
.game .board .field-block.lower-row-field-block .field:not(:first-child):not(:last-child) {
  border-top: 2px solid #000000;
}
.game .board .field-block.right-column-field-block {
  flex-direction: column;
  align-items: flex-end;
}
.game .board .field-block.right-column-field-block .field {
  border-left: 2px solid #000000;
}
.game .board .field-block.left-column-field-block {
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 60px;
}
.game .board .field-block.left-column-field-block .field {
  border-right: 2px solid #000000;
}
.game .board .dice-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-gap: 20px;
}
.game .board .dice-block .rolled-number {
  font-size: 48px;
  font-weight: 700;
}
.game .board .dice-block .roll-button-container .roll-button {
  padding: 10px 40px;
  border: 2px solid #000000;
  pointer-events: none;
  cursor: default;
}
.game .board .dice-block .roll-button-container .roll-button:hover {
  background-color: #c1c1c1;
}
.game .board .dice-block .roll-button-container .roll-button[active=true] {
  pointer-events: all;
  cursor: pointer;
}
.game .goal-blocks {
  display: flex;
  flex-direction: column;
  grid-gap: 40px;
  align-items: center;
  padding-top: 60px;
}
.game .goal-blocks .goal-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.game .goal-blocks .goal-block .goal {
  width: 40px;
  height: 40px;
  border: 2px solid #000000;
}
.game .goal-blocks .goal-block .goal.red-goal {
  background-color: #d80000;
}
.game .goal-blocks .goal-block .goal.blue-goal {
  background-color: #201cff;
}
.game .goal-blocks .goal-block .goal.green-goal {
  background-color: #19d400;
}
.game .goal-blocks .goal-block .goal.yellow-goal {
  background-color: #fff831;
}/*# sourceMappingURL=game.css.map */